extends layouts/geogebra

block resourceVars
  - var relDepth = ""
  - var navPanelTitle = "Home"
  - var title = "GeoGebra"
  - var subtitle = navPanelTitle

block resourceDescription
  p
    | THIS IS THE HOME PAGE