extends ../layouts/geogebra

block vars
  - var relDepth = "../"
  - var subject = "geogebra"
  - var sideMenuTitle = "3D Basics"
  - var subtitle = sideMenuTitle

  //- - var resources = []
  //- - resources.push({ title: 'Conditional Visibility', type: 'video', videoAspectRatio: 1.5, videoID: '84IvCpJPOfU' })


block resourceDescription
  p
    | In progress...