extends ../layouts/geogebra

block vars
  - var relDepth = "../"
  - var sideMenuTitle = "3D Basics"
  - var subtitle = sideMenuTitle

  - var resources = []
  - resources.push({ title: '3D Overview', type: 'video', videoAspectRatio: 1.5, videoID: 'MT-FJhc7VYU' })
  - resources.push({ title: 'Basic 3D Shapes', type: 'video', videoAspectRatio: 1.5, videoID: 'c9qOr6V7aAo' })
  - resources.push({ title: '3D Functions, Curves, Surfaces', type: 'video', videoAspectRatio: 1.5, videoID: '43RgPR0ck7k' })

block resourceDescription
  p
    | On this page, we will look at 
    em some
    |  of GeoGebra's 3D functionalities. With GeoGebra, you can easily define 3D points, segments, conics, curves, surfaces and more! You can also have GeoGebra's 3D view open while you have a 2D graphics view open -- and these two views can interact!