extends ../layouts/geogebra

block vars
  - var relDepth = "../"
  - var sideMenuTitle = "Getting Started"
  - var subtitle = sideMenuTitle

  - var resources = []
  - resources.push({ title: 'Intro to GeoGebra', type: 'video', videoAspectRatio: 1.5, videoID: 'RYGBhRN9oHQ' })
  - resources.push({ title: 'The Construction Toolbar', type: 'video', videoAspectRatio: 1.5, videoID: 'IrSvVxDvSV0' })
  - resources.push({ title: 'The Object Properties Menu', type: 'video', videoAspectRatio: 1.5, videoID: 'DrCkzrd_MTw' })
  - resources.push({ title: 'Saving Constructions', type: 'video', videoAspectRatio: 1.5, videoID: 'qtUFm19aAXI' })
  - resources.push({ title: 'Input Bar and Commands', type: 'video', videoAspectRatio: 1.5, videoID: 'N2p4ej8pgTg' })

block resourceDescription
  p
    | This page consists of a few videos that introduce GeoGebra. These videos are listed below. Once you have watched these videos, check out the other pages in the menu to the left (or above).