extends ../layouts/geogebra

block vars
  - var relDepth = "../"
  - var sideMenuTitle = "Logic and Sequences"
  - var subtitle = sideMenuTitle

  - var resources = []
  - resources.push({ title: 'Conditional Visibility', type: 'video', videoAspectRatio: 1.5, videoID: '84IvCpJPOfU' })
  - resources.push({ title: 'The If Command', type: 'video', videoAspectRatio: 1.5, videoID: 'MeTy7ZHpc8g' })
  - resources.push({ title: 'Lists in GeoGebra', type: 'video', videoAspectRatio: 1.5, videoID: 'Qz4XiUGLP64' })
  - resources.push({ title: 'List Example: Function List', type: 'video', videoAspectRatio: 1.5, videoID: 'jxUHWPdf_m0' })


block resourceDescription
  p
    | On this page, we will explore how to use some "logical" features of GeoGebra, as well as explore lists and sequences in GeoGebra. All of these features are somewhat advanced, but are very powerful tools once you get used to using them.