extends ../layouts/geogebra

block vars
  - var relDepth = "../"
  - var sideMenuTitle = "Scripting"
  - var subtitle = sideMenuTitle

  //- - var resources = []
  //- - resources.push({ title: 'Conditional Visibility', type: 'video', videoAspectRatio: 1.5, videoID: '84IvCpJPOfU' })
  

block resourceDescription
  p
    | In progress...