extends ../layouts/geogebra

block vars
  - var relDepth = "../"
  - var sideMenuTitle = "Scripting"
  - var subtitle = sideMenuTitle

  - var resources = []
  - resources.push({ title: 'Scripting Overview', type: 'video', videoAspectRatio: 1.5, videoID: 'nDhJCp79bEc' })
  - resources.push({ title: 'Co-Dependent Points', type: 'video', videoAspectRatio: 1.5, videoID: 'jJC5vuUVjn8' })
  - resources.push({ title: 'Snapping Points', type: 'video', videoAspectRatio: 1.5, videoID: 'OkLvywb1IbY' })
  - resources.push({ title: 'Starting an Animation', type: 'video', videoAspectRatio: 1.5, videoID: 'q2ptGTXbfbw' })
  

block resourceDescription
  p
    | On this page, we will explore how to use GeoGebra's "scripting" functionalities. Scripting in GeoGebra allows us to run a chunk of code whenever an object is clicked or updated. This allows us to extend GeoGebra's functionality in very flexible ways.