extends ../layouts/main

block vars
  - var relDepth = "../"
  - var sideMenuTitle = "Basic Examples"
  - var subtitle = sideMenuTitle

block content
  +descriptionBlock(sideMenuTitle)
    p In progress...