extends main

block vars
  - var mainMenuActiveItem = "resources"
  block resourceVars

block content
  .container
    section.section
      .columns
        .column.is-3
          include ../includes/sideMenu.pug
        .column.is-8
          .card
            header.card-header
              p.card-header-title= subtitle
            .card-content.content
              block resourceDescription
          
          if resources
            br/
            .card
              .card-header
                p.card-header-title Resources
              .card-content
                each rsc in resources
                  .box.resource-box
                    .columns.is-vcentered
                      .column= rsc.title
                      .column.is-narrow

                        case rsc.type
                          when "video"
                            a.button.is-danger.is-outlined.video-button(data-videoid=rsc.videoID, data-aspectratio=rsc.videoAspectRatio)
                              span.icon: i.fa.fa-file-video-o
                              span Video
                          when "applet"
                            a.button.is-info.is-outlined
                              span.icon: i.fa.fa-line-chart
                              span Applet
                          //- Need to handle documents.