extends ../layouts/geogebra

block resourceVars
  - var relDepth = "../"
  - var subject = "geogebra"
  - var sideMenuTitle = "Basic 2D Commands"
  - var title = "GeoGebra"
  - var subtitle = sideMenuTitle

  - var resources = []
  - resources.push({ title: 'Point Commands', type: 'video', videoAspectRatio: 1.5, videoID: 'i7h82hzAIoM' })
  - resources.push({ title: 'Segment, Vector, Line and Ray Commands', type: 'video', videoAspectRatio: 1.5, videoID: 'GGzuxEAOfVA' })
  - resources.push({ title: 'Circle and Polygon Commands', type: 'video', videoAspectRatio: 1.5, videoID: 'TD7c_qkx4fY' })
  - resources.push({ title: 'Creating Sliders', type: 'video', videoAspectRatio: 1.5, videoID: 'KO1xaSFdHSA' })
  - resources.push({ title: 'Creating Functions', type: 'video', videoAspectRatio: 1.5, videoID: 'JLvitSr9EaI' })

block resourceDescription
  p
    | On this page, we will explore some of the basic GeoGebra commands for creating 2D Objects, such as points, lines, circles, function graphs, and sliders!