footer.footer
  .container
    .content.has-text-centered
      p
        | &copy;
        span.is-primary COSma Learning, INC
        |  2017
      p Carlson, O'Bryan, Sander
      p
        a.icon.is-medium
          i.fa.fa-twitter
        a.icon.is-medium
          i.fa.fa-facebook
        a.icon.is-medium
          i.fa.fa-github