footer.footer
  .container
    .content.has-text-centered
      p
        span.is-primary GeoGebra Tutorials
        |  2017
      p Grant Sander
      p
        a.icon.is-medium(href="https://github.com/gksander/GGBtuts", target="_blank")
          i.fa.fa-github