section.hero.is-primary.page-banner
  .hero-body
    .container
      .columns.is-vcentered

        .column.is-8
          p.title.is-1= title ? title : "GeoGebra Tuts"
          p.subtitle.is-3 #{subtitle}

        .column
          .box
            article.media.is-vcentered
              .media-left
                figure.image.is-64x64
                  img(src=relDepth + "img/ggb.png", alt="Logo")
              .media-content
                .content
                  | GeoGebra tutorials for teachers.