// - Nav Panel params
- var navItems = [];
- navItems.push({title: 'Basics', links: [ ["Home", "index.html"], ["Getting Started", "basics/gettingStarted.html"], ["Basic 2D Commands", "basics/basics2D.html"], ["Using Text", "basics/text.html"], ["Logic and Sequences", "basics/logicAndSequences.html"], ["Scripting", "basics/scripting.html"], ["3D Basics", "basics/basics3D.html"] ]});

-navItems.push({ title: 'Teaching Examples', links: [ ['Basic Examples', 'examples/basics.html'] ] })


aside.menu
  each item in navItems
    p.menu-label #{item.title}
    ul.menu-list
      each link in item.links
        li
          a(href=relDepth + link[1], class=sideMenuTitle==link[0] ? "is-active" : "") #{link[0]}