aside.menu
  each item in navItems
    p.menu-label #{item.title}
    ul.menu-list
      each link in item.links
        li
          a(href=relDepth + link[1], class=sideMenuTitle==link[0] ? "is-active" : "") #{link[0]}